body#ext-dam-mod-file-index-php,
body#ext-dam-mod-tools-index-php,
body#ext-dam-mod-list-index-php,
body#ext-dam-mod-info-index-php,
body#ext-dam-index-mod1-index-php,
body#ext-dam-mod-cmd-index-php,
body#ext-dam-mod-edit-index-php,
body#ext-dam-mod-main-tx-dam-navframe-php,
body#ext-dam-mod-tools-tx-dam-navframe-php,
body#ext-dam-mod-edit-index-php {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
}

	/* From class.tx_dam_treelib_browser */
/* Trees */
TABLE.typo3-browsetree A { text-decoration: none;  }
TABLE.typo3-browsetree TR TD { white-space: nowrap; vertical-align: middle; }
TABLE.typo3-browsetree TR TD IMG { vertical-align: middle; }
TABLE.typo3-browsetree TR TD IMG.c-recIcon { margin-right: 1px;}
TABLE.typo3-browsetree { margin-bottom: 10px; width: 90%; }

TABLE.typo3-browsetree TR TD.typo3-browsetree-control {
	padding: 0px;
}
TABLE.typo3-browsetree TR TD.typo3-browsetree-control a {
	padding: 0px 3px 0px 3px;
	background-color: #e3dfdb;
}
TABLE.typo3-browsetree TR TD.typo3-browsetree-control > a:hover {
	background-color: #cfcbc7;
}

#ext-dam-mod-treebrowser-index-php { background-color:#fff; }
#ext-treelib-browser { background-color:#fff; }

	/* From class.tx_dam_scbase */
IMG.typo3-icon { vertical-align: middle; margin-right:0.1em; padding:0px 1px 2px 1px; text-decoration: none; }
IMG.c-recicon { vertical-align: middle; margin-right:0.1em; padding:0px 1px 2px 1px; text-decoration: none; }

DIV.typo3-DBctrl { padding:2px; }
DIV.typo3-DBctrl IMG { margin-left: 1px; margin-right: 1px; }
TABLE.typo3-dblist TR TD.c-headLine { background-color: #e0e0e0; }
td.c-actionBar { background-color: #e0e0e0; }
td.c-actionBar div { margin: 2px 0px 2px 0px;  vertical-align: middle; font-size:0.99em; line-height:2em;}
td.c-actionBar select { background-color: #ccc; height:2em; font-size:0.99em;}
td.c-actionBar input { background-color: #ccc; height:2em; font-size:0.99em;}
.typo3-dblist TD { padding-top: 1px; }
.typo3-dblist TD.item, .typo3-dblist TD.typo3-dblist-item { border-bottom: 1px dotted #e1e1e1; }

.typo3-foldernavbar { margin: 12px 0px 2px 5px; }
.typo3-topactions { margin: 7px 0px 10px 0px; }
.typo3-filelist TD { padding: 1px 3px 0 3px; }
.typo3-filelist TD.typo3-filelist-item { border-bottom: 1px dotted #e1e1e1; }
.typo3-filelist TD.c-headLine { background-color: #ccc; font-weight: bold; height: 16px; }

.buttonToggleDisplayWrap { display:block; margin: 1em 0 1em 0; }
.buttonToggleDisplay { background-color: #e1e1e1; border: 1px solid #888; padding: 0px 2px 0px 0px; /*width:30%;*/ }
.buttonToggleDisplay:hover { background-color: #cdcdcd; }
.buttonToggleDisplay a { text-decoration: none; display: block; }
.buttonToggleDisplay img { vertical-align: middle; margin-bottom:2px;}

.guiElementBox { background-color: #E6E9EB; border: 1px solid #aaa; padding: 2px; }

span.spacer05em { position:relative; margin-left:0.5em; }
span.spacer1em  { position:relative; margin-left:1em;}

.button { white-space:nowrap; padding: 1px 4px 2px 2px; background-color: #e1e1e1; border: 1px solid #aaa; margin-left: 0.5em; margin-right: 0.55em }
.buttonAct { background-color: #e7dba8; }
.button img { vertical-align: middle; padding:0px 2px 2px 1px; }
.button a { vertical-align: baseline; text-decoration:none; }
.button:hover { background-color: #cdcdcd; }
.bgColorBtn { background-color: #e1e1e1; }

.browsebox {  }
.browsebox TD, .browsebox TD P { line-height:1em; padding:0; font-size:0.8em; }
.browsebox TD.browsebox-Cell, .browsebox TD.browsebox-CellA { border: 1px solid #aaa; width:1.6em; text-align:center; background-color:#e1e1e1; padding: 1px 0.7em 1px 0.7em; }
.browsebox TD.browsebox-CellA:hover { background-color: #cdcdcd; }
.browsebox TD.browsebox-Select { }
.browsebox TD.browsebox-Select SELECT { padding:0; font-size:0.8em; width:100%; font-weight:normal; border: 1px solid #aaa; background-color:#e1e1e1; }
.browsebox TD P { font-weight:bold; color:#888; }
.browsebox TD.browsebox-CellA P A { font-weight:bold; color:#000; text-decoration:none; display:block; width:auto; }

.browsebox {  }
.browsebox TD, .browsebox TD P { padding:0; font-size:0.9em; line-height:1em; }
.browsebox TD { padding:0; height:2em; font-size:0.9em; }
.browsebox TD.browsebox-Cell, .browsebox TD.browsebox-CellA { border: 1px solid #aaa; width:1.6em; text-align:center; background-color:#e1e1e1; padding: 1px 0.7em 1px 0.7em; }
.browsebox TD.browsebox-CellA:hover { background-color: #cdcdcd; }
.browsebox TD.browsebox-Select { }
.browsebox TD.browsebox-Select SELECT { padding:0; font-size:1em; width:100%; height:2em; font-weight:normal; border: 1px solid #aaa; background-color:#e1e1e1; }
.browsebox TD P { font-weight:bold; color:#888; }
.browsebox TD.browsebox-CellA P A { font-weight:bold; color:#000; text-decoration:none; display:block; width:auto; }

#c-override, #c-upload, #c-submit { margin: 0.3em 0 1em 0; }
#c-upload input { margin: 0 0 0.3em 0; }

#c-select { padding-bottom:0.8em; }
#c-createFolders div { margin-bottom:0.8em; }			

div.infobar { display:block; width:100%; min-height:2.5em; padding:0px 0 0px 0; /*background-color:#e6e9eb;*/ border-bottom: 1px solid #888; }

div.infobar>table, div.infobar>div, div.infobar>table>td>div { vertical-align:middle; height:2.5em; line-height:2.5em; }
div.infobar, div.infobar table td, div.infobar-td, div.infobar-td>span, div.infobar-td>div { vertical-align:middle; }
div.infobar-left-table  { display:table; height:2.5em; }
div.infobar-right-table { display:table; height:2.5em; }
div.infobar-td { display:table-cell; vertical-align:middle; height:2.5em; }
div.infobar-left-table div.infobar-td { padding-left:0.5em; }
div.infobar-right-table div.infobar-td { padding-right:0.5em; text-align:right; }
div.infobar-right-table div.infobar-td select { vertical-align:middle; }

div.infobar-extraline { padding:0.2em; padding-left:0.5em; background-color:#e6e9eb; }

div.msgbox-wrap { display:block; width:auto; padding:1.5em; }
div.msgbox { display:block; width:auto; border: 1px solid #888; }
div.msgboxContent { display:block; width:auto; padding:1.5em;  }
div.msgboxButtons { display:block; text-align:right; padding:1.5em;  }

/*div.infobar { display:table; width:100%; height:3em; background-color:#e6e9eb; border-bottom: 1px solid #888; }*/
div.infobar div.infobar-content { display:table-cell; width:100%; vertical-align:middle; padding: 2px 5px 2px 5px; }
div.infobar div.infobar-content td { vertical-align:middle; }

	/* From class.tx_dam_cmd_foldernew */
#c-select { margin: 1.5em 0 0.8em 0; }
#c-createFolders div { margin-bottom:0.8em; }

	

	/* Custom, or from inline elements */
div#debugContent { background-color:#eee; border:1px solid #888; padding:5px; }
div#clickThumb { width:56px; overflow:auto; padding: 5px; background-color:#fff; border:solid 1px #ccc; }
div#clickThumb2 { width:380px; overflow:auto; padding: 5px; background-color:#fff; border:solid 1px #ccc; }
div#addAllButton { margin:1.5em 0 1em 1em; text-align:left; }
div#previewThumb { margin:4px;margin-right:10px;padding:8px;background-color:#fff;border:solid #888 1px; }
div#previewMP3 { margin:15px 20px 0px 0px; }
span#actionHorizontal { border-left:1px dotted #666; }
div#batchProcess { margin-left:35px; }
span#presetForm { padding: 0 10px 0 10px; }
div#tableRow { margin-bottom:7px; }
div#extraContentRight { padding-left:25px; }
div#recordInfoHeader { margin:0px; }
div#itemsFooter { background-color:#eee; border:1px solid #888; padding:5px; }
span#titleWrap { color:grey;vertical-align:top; }
div#languageSwitch { margin:0 0.5em 0.4em auto; text-align:right; }
div#typo3-inner-docbody { padding:10px 10pt 10px 10px; }
